*/.idea/*
*.iml
*.iws
*.ipr
*.project
configMySQL.properties
config.properties
*/target/*
*/build/*
*/bin/*
*/.settings/*
*.classpath
/.idea/
*.db
*.vpp
*.MF
/esir.dom11.nsoc-platform/iphone/Nsoc/build
/esir.dom11.nsoc-platform/iphone/Nsoc/nsoc.xcodeproj
/esir.dom11.nsoc-platform/iphone/psd
.idea